//MENU
//CREATION
#include "resource.h"
#include "afxres.h"



APP_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN

        MENUITEM "&Save",           APP_SAVE
        MENUITEM "&Exit",           APP_EXIT
   END
END
